---
http_interactions:
- request:
    method: get
    uri: http://api.petfinder.com/shelter.get?id=CA886&key=afb752054145806e86da4d38721f2bb6
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=iso-8859-1
    body:
      encoding: ASCII-8BIT
      string: |
        <?xml version="1.0" encoding="iso-8859-1"?>

        <petfinder xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://api.petfinder.com/schemas/0.9/petfinder.xsd">
         <header>
          <version>0.1</version>
          <timestamp>2018-04-30T02:19:33Z</timestamp>
          <status>
           <code>100</code>
           <message />
          </status>
         </header>
         <shelter>
          <id>CA886</id>
          <name>It's The Pits</name>
          <address1>P.O. Box 720008</address1>
          <address2 />
          <city>San Diego</city>
          <state>CA</state>
          <zip>92172</zip>
          <country>US</country>
          <latitude>32.7153</latitude>
          <longitude>-117.1564</longitude>
          <phone>(858) 220-7546   </phone>
          <fax />
          <email>info@itsthepits.org</email>
         </shelter>
        </petfinder>
  recorded_at: Mon, 30 Apr 2018 02:19:33 GMT
recorded_with: VCR 4.0.0
