---
http_interactions:
- request:
    method: get
    uri: http://api.petfinder.com/shelter.find?count=10&key=afb752054145806e86da4d38721f2bb6&location=92107&offset=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=iso-8859-1
    body:
      encoding: ASCII-8BIT
      string: |
        <?xml version="1.0" encoding="iso-8859-1"?>

        <petfinder xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://api.petfinder.com/schemas/0.9/petfinder.xsd">
         <header>
          <version>0.1</version>
          <timestamp>2018-04-09T04:38:34Z</timestamp>
          <status>
           <code>100</code>
           <message />
          </status>
         </header>
         <lastOffset>20</lastOffset>
         <shelters>
          <shelter>
           <id>CA425</id>
           <name>Rescue House</name>
           <address1>P.O. Box 231336</address1>
           <address2 />
           <city>San Diego</city>
           <state>CA</state>
           <zip>92193</zip>
           <country>US</country>
           <latitude>32.7153</latitude>
           <longitude>-117.1564</longitude>
           <phone />
           <fax />
           <email>webcat@rescuehouse.org</email>
          </shelter>
          <shelter>
           <id>CA886</id>
           <name>It's The Pits</name>
           <address1>P.O. Box 720008</address1>
           <address2 />
           <city>San Diego</city>
           <state>CA</state>
           <zip>92172</zip>
           <country>US</country>
           <latitude>32.7153</latitude>
           <longitude>-117.1564</longitude>
           <phone>(858) 220-7546   </phone>
           <fax />
           <email>inf[...]
