---
http_interactions:
- request:
    method: get
    uri: http://api.petfinder.com/shelter.find?count=15&key=afb752054145806e86da4d38721f2bb6&location=92107
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=iso-8859-1
    body:
      encoding: ASCII-8BIT
      string: |
        <?xml version="1.0" encoding="iso-8859-1"?>

        <petfinder xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://api.petfinder.com/schemas/0.9/petfinder.xsd">
         <header>
          <version>0.1</version>
          <timestamp>2018-04-09T04:06:49Z</timestamp>
          <status>
           <code>100</code>
           <message />
          </status>
         </header>
         <lastOffset>15</lastOffset>
         <shelters>
          <shelter>
           <id>CA1739</id>
           <name>Fur.Ever</name>
           <address1 />
           <address2 />
           <city>San Diego</city>
           <state>CA</state>
           <zip>92107</zip>
           <country>US</country>
           <latitude>32.7406</latitude>
           <longitude>-117.2423</longitude>
           <phone>(858) 731-6059</phone>
           <fax />
           <email>fur.ever@yahoo.com</email>
          </shelter>
          <shelter>
           <id>CA2219</id>
           <name>The Rescued Dog</name>
           <address1>1220 Rosecrans St, PMB 252</address1>
           <address2 />
           <city>San Diego</city>
           <state>CA</state>
           <zip>92106</zip>
           <country>US</country>
           <latitude>32.7285</latitude>
           <longitude>-117.2315</longitude>
           <phone>(619) 356-3390</phone>
           <fax />
           <em[...]
